/* Card One */

.card__headline {
    color: $main-purple;
}
.card {
    margin: var(--space-stack-medium);
    background-color: var(--color-white);
    color: var(--color-gray-dark-60);

    &.constrained {
        max-width: 360px;

            @media (max-width: $ipad-landscape) {
                max-width: 100%;
            }
    }

    .card__icon {
        width: 65px;
        height: 65px;
        margin: 0 auto;
    }

    .card__copy {
        padding: var(--space-inset-x-large);

        @media (min-width: $ipad-landscape) {
            padding: var(--space-inset-large);
        }

        .card__title {
            margin: var(--space-stack-medium);
        }

        .card__description {
            margin: var(--space-stack-medium);

            @media (min-width: $ipad-landscape) {
                margin: var(--space-stack-small);
            }
        }
    }

    .card__button {
        .button-light {
            padding-left: 0;
            padding-right: 0;
            border-radius: 0;
            width: auto;
        }
    }

    &.card-border-button {
        width: 100%;
        border-radius: var(--space-small);
        box-shadow:  0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 7px 8px rgba(0, 0, 0, 0.2);

        &.constrained {
            max-width: 360px;

            @media (max-width: $ipad-landscape) {
                max-width: 100%;
            }
        }

        .card__copy {
            padding: var(--space-6x-large) var(--space-4x-large);

            @media (min-width: $ipad-landscape) {
                padding: var(--space-2x-large) var(--space-x-large);
            }
        }

        .card__title {
            font-family: var(--font-family-source-code-pro);
        }
        .card__headline {
            text-transform: uppercase;
            margin: var(--space-stack-medium);
        }

        .card__subheadline {
            font-style: italic;
            text-align: left;
            margin: var(--space-stack-medium);
            text-transform: none;
        }

        .card__description {
            margin: var(--space-stack-large);

            p {
                line-height: var(--line-height-large);
            }

            @media (min-width: $ipad-landscape) {
                margin: var(--space-stack-medium);
            }
        }

        .card__button {
            display: flex;
            justify-content: center;

            button, a {
                max-width: 300px;

            }
        }


    }

    &.card-full-image {
        position: relative;
        min-height: 200px;
        height: 100%;
        overflow: hidden;

        .card__copy {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
        }

        .card__title {
            text-align: left;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: var(--space-inset-medium);
            margin: 0;
            font-family: var(--font-family-share-tech-mono);
            color: var(--color-white);
        }

        .card__subheadline {
            text-transform: uppercase;
        }

        &:hover .card__copy {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 51.04%, rgba(0, 0, 0, 0.699057) 76.04%, #000000 100%);
            display: block;
        }
    }

    &.card-person {
        width: 166px;

        .frame {
            width: 100%;
            height: 166px;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .card__title {
            overflow-wrap: break-word;
            text-align: center;
        }
    }
}
/* Sponsor Card */
.sponsor-section {
    width: 100%;
}
.sponsor-card-container {
    margin: var(--space-stack-x-large);

    &:not(.whole-row) {
         width: 100%;
    }

    @media (max-width: $ipad-landscape) {
        width: 100%;
    }

    .sponsor-label {
        margin: var(--space-stack-default);
        text-align: center;

        @media (max-width: $ipad-landscape) {
            text-align: left;
        }
    }

    .sponsor-card {
        padding: var(--space-2x-large) var(--space-x-large);
        background-color: var(--color-white);
        color: var(--color-gray-dark-60);
        border-width: 1px;
        border-style: solid;
        border-radius: var(--space-small);

        @media (min-width: $ipad-landscape) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: var(--space-x-large) calc(var(--space-6x-large) * 2);
        }
    }


    .sponsor {
        display: flex;
        flex-direction: column;
        padding: var(--space-stack-large);

        @media (max-width: $ipad-landscape) {
            flex-direction: row;
            padding: 0;

            &:last-child {
                padding-bottom: 0;

                .img-frame {
                    padding-bottom: 0;
                }
            }
        }

        .img-frame {
            width: 250px;
            padding: var(--space-stack-medium);

            @media (max-width: $ipad-landscape) {
                flex-basis: 30%;
                width: 100px;
            }

            img {
                width: 100%;
            }
        }

        h3 {
            font-size: var(--font-size-medium);

            @media (max-width: $ipad-landscape) {
                align-self: center;
                text-transform: none;
                font-size: var(--font-size-x-large);
                padding-left: var(--space-medium);
            }

        }
    }
}
