/* Card One */
.card {
    max-width: 300px;
    margin: var(--space-stack-medium);

    .card__icon {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        background-color: $main-green;
    }

    .card__copy {
        padding: var(--space-inset-large);

        .card__title {
            margin: var(--space-stack-medium);
            text-align: center;
        }

        .card__description {
            margin: var(--space-stack-small);
        }
    }

    &.card-border-button {
        width: 360px;
        height: 100%;

        border-radius: var(--space-x-small);
        box-shadow:  0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 7px 8px rgba(0, 0, 0, 0.2);

        .card__copy {
            padding: var(--space-2x-large) var(--space-x-large);

        }

        .card__title {
            font-family: var(--font-family-source-code-pro);
        }
        .card__headline {
            color: $main-purple;
            text-transform: uppercase;
        }

        .card__subheadline {
            font-style: italic;
            text-align: left;
        }

        .card__description {
            margin: var(--space-stack-medium);
        }

        .card__button {
            display: flex;
            justify-content: center;
        }
    }
}