/* Create the Mixin for Utility Classes  */
@mixin spacing-utilities($attribute: 'margin', $prefix: '-') {
    //All Sides
    @each $name, $value in $spacing-map {
      &#{$prefix}#{$name} {
        #{$attribute}: $value;
      }
    }
    //Bottom
    $newattribute: $attribute + '-bottom';
    @each $name, $value in $spacing-map {
      &b#{$prefix}#{$name} {
        #{$newattribute}: $value;
      }
    }
    //Top
    $newattribute: $attribute + '-top';
    @each $name, $value in $spacing-map {
      &t#{$prefix}#{$name} {
        #{$newattribute}: $value;
      }
    }
    //Left
    $newattribute: $attribute + '-left';
    @each $name, $value in $spacing-map { 
      &l#{$prefix}#{$name} {
        #{$newattribute}: $value;
      }
    }
    //Right
    $newattribute: $attribute + '-right';
    @each $name, $value in $spacing-map {
      &r#{$prefix}#{$name} {
        #{$newattribute}: $value;
      }
    }
    //Horizontal or Both Left and Right
    $newattribute1: $attribute + '-left';
    $newattribute2: $attribute + '-right';
    @each $name, $value in $spacing-map { 
      &x#{$prefix}#{$name} {
        #{$newattribute1}: $value;
        #{$newattribute2}: $value;
      }
    }
    //Vertical or Both Top and Bottom
    $newattribute1: $attribute + '-top';
    $newattribute2: $attribute + '-bottom';
    @each $name, $value in $spacing-map {
      &y#{$prefix}#{$name} {
        #{$newattribute1}: $value;
        #{$newattribute2}: $value;
      }
    }
  }

  /* margin stack utilities */
@mixin space-stack($attribute: 'margin', $prefix: '-') {

  @each $name,
  $value in $space-stack-map {
      &#{$prefix}#{$name} {
          #{$attribute}: $value;
      }
  }
}

/* margin inline utilities */
@mixin space-inline($attribute: 'margin', $prefix: '-') {

  @each $name,
  $value in $space-inline-map {
      &#{$prefix}#{$name} {
          #{$attribute}: $value;
      }
  }
}

/* padding inset utilities */
@mixin space-inset($attribute: 'padding', $prefix: '-') {

  @each $name,
  $value in $space-inset-map {
      &#{$prefix}#{$name} {
          #{$attribute}: $value;
      }
  }
}

/* padding inset-short utilities */
@mixin space-inset-short($attribute: 'padding', $prefix: '-') {

  @each $name,
  $value in $space-inset-short-map {
      &#{$prefix}#{$name} {
          #{$attribute}: $value;
      }
  }
}

/* padding inset-tall utilities */
@mixin space-inset-tall($attribute: 'padding', $prefix: '-') {

  @each $name,
  $value in $space-inset-tall-map {
      &#{$prefix}#{$name} {
          #{$attribute}: $value;
      }
  }
}