/* Create the Global Font CSS Variables */
/* Mobile Size  - Create the Global font and line-height CSS Variables 
    -space-unit:.5;  //Base 8px (defined in _variables--spacing) */
:root {
    --font-family-open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
    --font-family-source-code-pro: 'Source Code Pro', monospace;
    --font-family-share-tech-mono: 'Share Tech Mono', monospace;
    --font-family-source-code-pro-italic: 'Source Code Pro', monospace;
    --font-weight-regular:  400;
    --font-weight-bold:     700;
    --font-weight-italic:   600;
    --font-weight-very-bold: 900;

    --font-size-3x-large:   calc(4rem * var(--space-unit)); //H1 32px
    --font-size-2x-large:   calc(3rem * var(--space-unit)); //H2 (Subhead 1) 24px
    --font-size-x-large:    calc(2.5rem * var(--space-unit)); //H3 (Subhead 2) 20px
    --font-size-large:      calc(2.0rem * var(--space-unit)); //H4 (Subhead 3) 16px
    --font-size-medium:     calc(1.75rem * var(--space-unit)); //P  Body Text, Blockquote  14px
    --font-size-small:      calc(1.375rem * var(--space-unit)); //H5 Small, Caption. Endnote  11px
    --font-size-x-small:    calc(1.375rem * var(--space-unit)); //H6 Footnote 11px

    --line-height-4x-large: calc(6rem * var(--space-unit)); //H1 40px
    --line-height-3x-large: calc(5rem * var(--space-unit));
    --line-height-2x-large: calc(4rem * var(--space-unit)); //H2 32px
    --line-height-x-large:  calc(3rem * var(--space-unit)); //H3 24px
    --line-height-large:    calc(2.5rem * var(--space-unit)); //H4 20px
    --line-height-medium:   calc(2rem * var(--space-unit)); //P 20px
    --line-height-small:    calc(2rem * var(--space-unit)); //H5 16px
    --line-height-x-small:  calc(2rem * var(--space-unit)); //H6 16px
}

/* @ iPad landscape change to larger font sizes 
    --space-unit: 1; //Base 16 (defined in _variables--spacing)*/
@media (min-width: $ipad-landscape) {
    :root {
        --font-size-3x-large:   calc(3rem * var(--space-unit)); //H1 48px
        --font-size-2x-large:   calc(2rem * var(--space-unit)); //H2 (Subhead 1) 32px
        --font-size-x-large:    calc(1.5rem * var(--space-unit)); //H3 (Subhead 2) 24px
        --font-size-large:      calc(1.25rem * var(--space-unit)); //H4 (Subhead 3) 20px
        --font-size-medium:     calc(1rem * var(--space-unit)); //P  Body Text, Blockquote  16px
        --font-size-small:      calc(.688rem * var(--space-unit)); //H5 Small, Caption. Endnote  11px
        --font-size-x-small:    calc(.688rem * var(--space-unit)); //H6 Footnote 11px

        --line-height-3x-large: calc(3.5rem * var(--space-unit)); //56px
        --line-height-2x-large: calc(2.5rem * var(--space-unit)); //48px
        --line-height-x-large:  calc(2rem * var(--space-unit)); //40px
        --line-height-large:    calc(1.5rem * var(--space-unit)); //32px
        --line-height-medium:   calc(1.25rem * var(--space-unit)); //24px
        --line-height-small:    calc(1rem * var(--space-unit)); //20px
        --line-height-x-small:  calc(1rem * var(--space-unit)); //16px
    }
}

/* Create the Global Font SASS Variables */
$font-family: 			#{var(--font-famiily)};
$font-weight-regular:	#{var(--font-weight-regular)};
$font-weight-bold:		#{var(--font-weight-bold)};

$font-size-3x-large: 	#{var(--font-size-3x-large)};
$font-size-2x-large: 	#{var(--font-size-2x-large)};
$font-size-x-large: 	#{var(--font-size-x-large)};
$font-size-large: 		#{var(--font-size-large)};
$font-size-medium: 		#{var(--font-size-medium)};
$font-size-small:		#{var(--font-size-small)};
$font-size-x-small:		#{var(--font-size-x-small)};

$line-height-3x-large:	#{var(--line-height-3x-large)};
$line-height-2x-large:	#{var(--line-height-2x-large)};
$line-height-x-large:	#{var(--line-height-x-large)};
$line-height-large:		#{var(--line-height-large)};
$line-height-medium:	#{var(--line-height-medium)};
$line-height-small:		#{var(--line-height-small)};
$line-height-x-small:	#{var(--line-height-x-small)};

/* Create the Global Font Size SASS Variable Map */
$font-size-map: (
	3x-large: 	#{var(--font-size-3x-large)},
	2x-large: 	#{var(--font-size-2x-large)},
	x-large: 	#{var(--font-size-x-large)},
	large: 		#{var(--font-size-large)},
	medium: 	#{var(--font-size-medium)},
	small:		#{var(--font-size-small)},
	x-small:	#{var(--font-size-x-small)}
);

/* Create the Global Line Height SASS Variable Map */
$line-height-map: (
	3x-large:	#{var(--line-height-3x-large)},
	2x-large:	#{var(--line-height-2x-large)},
	x-large:	#{var(--line-height-x-large)},
	large:		#{var(--line-height-large)},
	medium:		#{var(--line-height-medium)},
	small:		#{var(--line-height-small)},
	x-small:	#{var(--line-height-x-small)}
);