/* design.liquid page specific */

//page layout
.top {
	width: 100%;
	height: 10vh;
	background-color: #ffffff;
	border-bottom: 1px solid #bababa;
	position: fixed;
	padding: 0 40px;
}
.sidenav {
	width: 302px;
	height: 90vh;
	background-color: #efefef;
	position: fixed;
	margin-top: 10vh;
	padding: 40px 24px;
}
.content {
	width: calc(100% - 350px);
	margin-top: 10vh;
	margin-left: 350px;
}
.row2 {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
}
.containerbox {
	width: 80%;
	margin: 48px auto;
	display: flex;
	flex-direction:column;
	border: 1px solid gray;
	border-radius: 8px;
	background-color: white;
	padding:40px;
}

//color example layout 
.color-box {
	width: var(--space-8x-large);
    height: var(--space-8x-large);
	padding: 8px;
}

//margin and padding example layout 
%spacing-box {
    width: var(--space-3x-large);
    height: var(--space-3x-large);
    background-color: #FFFFFF;
}
.spacing-box {
    @extend %spacing-box;
}
.spacing-box--hasBorder {
    @extend %spacing-box;
    border: 1px solid #212121;
}
.m-color {
    background-color:$secondary-yellow-light;
}
.p-color {
    background-color:$secondary-green-light;
}
.spacing-box-container {
	display:flex;
	width: min-content;
	margin: var(--space-3x-large);
}

.box-sizing-reset {
	box-sizing: content-box !important;
}