/* Flex Box Layout */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: center;
    align-items: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-end {
    justify-content: end;
}
.justify-left {
    justify-content: start;
    align-items: flex-start;
    align-self: start;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: start;
}

@media (min-width: $ipad-landscape) {
    .lg-flex-row {
        flex-direction: row;
    }
    .lg-flex-column {
        flex-direction: column;
    }
    .lg-justify-content-space-around {
        justify-content: space-around;
    }
    .lg-justify-content-center {
        justify-content: center;
    }
    .lg-justify-content-space-between {
		justify-content: space-between;
	}
	.lg-justify-content-end {
		justify-content: end;
	}
    .lg-justify-content-start {
        justify-content: start;
    }
    .lg-justify-content-space-between {
        justify-content: space-between;
    }
    .lg-justify-content-end {
        justify-content: end;
    }
    .lg-align-items-center {
        align-items: center;
    }
    .lg-align-items-start {
        align-items: start;
    }

}