/* Flex Box Layout */
.flex {
    display: flex;
}
.flex-row {
	flex-direction: row;
}
.flex-column {
	flex-direction: column;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}


@media (min-width: 1024px) {
    .lg-flex-row {
        flex-direction: row;
    }
    .lg-flex-column {
        flex-direction: column;
    }
    .lg-justify-content-space-around {
        justify-content: space-around;
    }
    .lg-justify-content-center {
        justify-content: space-around;
    }
    .lg-align-items-center {
        align-items: center;
    }
}