---
layout: layouts/default.njk
title: Mystery Code Society Design Guide
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
key: Home
order: 0
---

<section id="font">
  <h1>H1 Hellovscode</h1>
  <button class="button-purple">Purple</button>
  <button class="button-purple button-small">Purple Small</button>
</section>
<section>
  <span class="top">Buttons</span>
    <div>


        <ul class="box1">
            <li><button class="button button-pinkpurple">purple</button></li>
            <li><button class="button button-yelloworange">yelloworange</button></li>
            <li><button class="button button-greenblue">greenblue</button></li>
            <li><button class="button button-purple">purple</button></li>
            <li><button class="button button-blue">blue</button></li>
            <li><button class="button button-green">green</button></li>
            <li><button class="button button-pink">pink</button></li>
            <li><button class="button-white button-whiteBGpurple">whiteBGpurple</button></li>
            <li><button class="button-white button-whiteBGblue">whiteBGblue</button></li>
            <li><button class="button-white button-whiteBGgreen">whiteBGgreen</button></li>
            <li><button class="button-white button-whiteBGpink">whiteBGpink</button></li>
        </ul>

        <ul class="box2">
            <li><button class="button button-pinkpurple button-small">purple-small</button></li>
            <li><button class="button button-yelloworange button-small">yelloworange-small</button></li>
            <li><button class="button button-greenblue button-small">greenblue-small</button></li>
            <li><button class="button button-purple button-small">purple-small</button></li>
            <li><button class="button button-blue button-small">blue-small</button></li>
            <li><button class="button button-green button-small">green-small</button></li>
            <li><button class="button button-pink button-small">pink-small</button></li>
            <li><button class="button-white button-whiteBGpurple button-small">whiteBGpurple-small</button></li>
            <li><button class="button-white button-whiteBGblue button-small">whiteBGblue-small</button></li>
            <li><button class="button-white button-whiteBGgreen button-small">whiteBGgreen-small</button></li>
            <li><button class="button-white button-whiteBGpink button-small">whiteBGpink-small</button></li>
        </ul>

    </div>


</section>


<section id="new-design">
</section>