<footer class="u-background-color-main-purple u-text-color-white">
  <div class="container u-py-7x-large u-sm-p-7x-large flex flex-column lg-flex-row" style="flex-wrap:nowrap;">
    <div id="footer__name-sm" class="lg-display-none">
      <div class="u-sm-space-stack-x-large">
        <div class="footer__name--container-sm flex flex-row u-pb-4x-large align-items-center">
          <img class="logo" src="/assets/images/icon/mcs-logo.svg">
          <h2 class="u-font-size-x-large u-font-weight-bold u-pl-large">
            Mystery Code Society
          </h2>
        </div>
        <p class="">
          To champion gender equity in tech through beginner and intermediate coding education for people of marginalized genders
        </p>
      </div>
    </div>

    <div id="footer__name-lg" class="sm-display-none">
      <div class="u-lg-space-inline-x-large flex flex-row justify-left" style="flex-wrap:nowrap;">
        <div class="logo-container">
          <img class="logo" src="/assets/images/icon/mcs-logo.svg">
        </div>
        <div class="footer__name--container-sm flex flex-column u-pl-small">

          <h2 class="u-font-size-x-large u-font-weight-bold">
            Mystery Code Society
          </h2>
          <p class="">
            To champion gender equity in tech through beginner and intermediate coding education for people of marginalized genders
          </p>
        </div>
      </div>
    </div>
    <div id="footer__follow" class="u-lg-space-inline-x-large u-sm-space-stack-x-large">
      <p class="u-text-uppercase u-pb-large">Follow Us:</p>
      <div class="social-media-accounts flex flex-row">
        <a class="button button--icon button-secondary u-space-inline-large" href="https://www.linkedin.com/company/mystery-code-society" target="_blank">
          <img src="assets/images/icon/linked_in.png" alt="linked in">
        </a>
        <a class="button button--icon button-secondary u-space-inline-large" href="https://twitter.com/mysterycodesoc" target="_blank">
          <img src="assets/images/icon/twitter.png" alt="twitter">
        </a>
        <a class="button button--icon button-secondary u-space-inline-large" href="https://www.instagram.com/mysterycodesoc/" target="_blank">
          <img src="assets/images/icon/instagram.png" alt="instagram">
        </a>
        <a class="button button--icon button-secondary u-space-inline-large" href="https://www.facebook.com/mysterycodesociety/" target="_blank">
          <img src="assets/images/icon/facebook.png" alt="facebook">
        </a>
      </div>
    </div>
    <div id="footer__action" class="flex flex-column">

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="display:inline-block;">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="4MFTJQZ34UFZE">
        <button class="button button--small button-white u-space-stack-medium u-text-capitalize" name="submit">Donate</button>
      </form>
      <a class="button button--small button-white u-space-stack-medium u-text-capitalize " href="mailto:hello@mysterycodesociety.com" target="_blank">
        Email
      </a>
      <a class="button button--small button-white u-text-capitalize " href="https://mailchi.mp/53cfa21126be/subscribe" target="_blank">
        Subscribe
      </a>
    </div>
  </div>
</footer>
