<header>
    <nav class="flex flex-row align-items-center justify-content-space-between">
        <div class="width-50 flex align-items-start u-ml-medium">
            <a href="/index.html">
                <!-- TODO: we probably want to get a logo with Mystery Code Society to the right of the magnifying glass. -->
                <!-- Since the logo/homepage link isn't aligned with the other items in the nav collection, we may want to remove index.liquid's eleventyNavigation key.-->
                <img src="/assets/images/mcs-logo-sm-no-text.svg">
            </a>
        </div>

        <div class="flex flex-row align-items-center justify-content-end width-50 u-mr-medium u-lg-mr-8x-large">
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
                listElement: "ul",
                listItemElement: "li",
                listClass: "",
                listItemClass: "u-mr-medium",
                listItemHasChildrenClass: "dropdown",
                listItemHasParentClass: "dropdown-content",
                activeListItemClass: "",
                activeAnchorClass: "active",
                activeKey: eleventyNavigation.key,
                showExcerpt: false
            }) | safe }}

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="4MFTJQZ34UFZE">
                <button class="button button--small button--yellow" name="submit">Donate</button>
            </form>
        </div>
    </nav>
</header>
