<div class="card card-border-button constrained">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">Fundamentals of Code - Explore Scratch</h2>
      <h3 class="card__subheadline">Starts June 22nd</h3>
    </div>
    <div class="card__description">
      <p>Join us in a 6-week course over code fundamentals using Scratch!</p>
    </div>

    <div class="card__button">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf3UCiSmdMrOwn3S09HVXNfjZDUlA-F7D9g9ZxvYdqsstwwCg/viewform"
    target="_blank"
    class="button button-secondary button--small">Sign up</a>
    </div>
  </div>
</div>
