<div class="card card-border-button constrained">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">Intro to Ruby</h2>
      <h3 class="card__subheadline">Starts June 12</h3>
    </div>
    <div class="card__description">
      <p>Students will learn the fundamentals of code in Ruby including data types, variable assignments, arrays, hashes, loops, conditionals, methods, classes, and objects. Offered in partnership with DoSpace, for six weeks in June and July.</p>
    </div>

    <div class="card__button">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScB9HXnrUzYLOnQFDS9-AuS4IFY4snWT9W_4qJUWkq9YKn0Cw/viewform" target="_blank" class="button button-secondary button--small">Sign up</a>
    </div>
  </div>
</div>
