<div class="card card-border-button constrained">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">Intro to iOS Mobile App Development</h2>
      <h3 class="card__subheadline">Starts September 9th</h3>
    </div>
    <div class="card__description">
      <p>In this 8-week class, students will learn the fundamentals of iOS Mobile App Development and build their own app!</p>
    </div>

    <div class="card__button">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSddIcaqSJBMQF3Az6m1ql9aLJ7aI2cHGbRLJzTRu5r1EI3VfQ/viewform" target="_blank" class="button button-secondary button--small">Sign up</a>
    </div>
  </div>
</div>
