<div class="card card-border-button constrained">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">Intro to JavaScript</h2>
      <h3 class="card__subheadline">Starts June 4th</h3>
    </div>
    <div class="card__description">
      <p>Students will get an introduction to the basics of programming with JavaScript. By the end of this 7-week course, students will be able to build their own game in p5.js!</p>
    </div>

    <div class="card__button">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSchcJeTmC2nqB5lwa3c4MqTGGO4jrp43berhpKYnbWcOnruNw/viewform" target="_blank" class="button button-secondary button--small">Sign up</a>
    </div>
  </div>
</div>
