<div class="card card-border-button constrained">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">Fundamentals of Code</h2>
      <h3 class="card__subheadline">Starts January 20th</h3>
    </div>
    <div class="card__description">
      <p>Join us in a 6-week course over code fundamentals using Scratch and Minecraft!</p>
    </div>

    <div class="card__button">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfLCrQ2zxGAQCjXaXDbr2gsui765VOBt__Yt0KTrf3K_v3YqQ/viewform"
    target="_blank"
    class="button button-secondary button--small">Sign up</a>
    </div>
  </div>
</div>
