<div class="card card-border-button constrained">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">Intro to Mobile App Development</h2>
      <h3 class="card__subheadline">Starts February 5th</h3>
    </div>
    <div class="card__description">
      <p>In this class, students will achieve a basic understanding of the structure of an Android app. By the end of this 10-week course, students will be able to apply what they learn to build a simple Android app of their own.</p>
    </div>

    <div class="card__button">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScTPt0rcWZqg4rwGET-9OXfZ-EhrBEhTFdWDtYlmcOq_LCyvg/viewform" target="_blank" class="button button-secondary button--small">Sign up</a>
    </div>
  </div>
</div>
