<div class="card card-border-button constrained">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">JavaScript Games</h2>
      <h3 class="card__subheadline">Starts January 20th</h3>
    </div>
    <div class="card__description">
      <p>Join us in a 12-week course over JavaScript game development using MakeCode Arcade!</p>
    </div>

    <div class="card__button">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfClBRn7QiIHjJmjczt4P5zn0Wkx0hcn7VR11f6dF4d0AN_TQ/viewform"
    target="_blank"
    class="button button-secondary button--small">Sign up</a>
    </div>
  </div>
</div>