<div class="card card-border-button">
  <div class="card__copy">
    <div class="card__title">
      <h2 class="card__headline">JavaScript Games</h2>
      <h3 class="card__subheadline">Starts February 13</h3>
    </div>
    <div class="card__description">
      <p> In this workshop, students will learn the fundamentals of video game development and will build a 2-D video game in JavaScript on makecodearcade.com.  See an example of the type of game you will build below! <a href="https://arcade.makecode.com/70923-79824-29319-83117" target="_blank">Example Game.</a></p>
    </div>

    <div class="card__button">
      <button class="button button-secondary">Sign up now</button>
    </div>
  </div>
</div>
