---
layout: layouts/default.njk
title: Mystery Code Society
date: 2021-07-21T00:00:00.000Z
permalink: /about.html
eleventyNavigation:
  key: About
  order: 1
---

<section id="about_mission">

</section>

<section id="about_story">

</section>

<section id="about_community">

</section>

<section id="about_people">

</section>

<section id="about_join">

</section>