---
layout: layouts/default.njk
title: Mystery Code Society Design Guide
date: 2021-07-21T00:00:00.000Z
permalink: /design.html
---


<div class="top">
  <h1>Mystery Code Society Design System</h1>
</div>

<div class="row2">
	<!-- SIDE NAV CONTENT -->
	<div class="sidenav">

		<div class="u-m-6x-large">
			<h2 class="text-divider u-mb-2x-large">
				Table of Contents</h2>
			<h3 class="text-divider">Variables & Base Styles</h3>
				<ul class="text-paragraph-default u-mb-2x-large">
					<li>
						<p>Color</p>
						<ul class="text-paragraph-default">
							<li>
								<p><a href="#colors">Main & Secondary Colors</a></p>
							</li>
						</ul>
					</li>
					<li>
						<p>Typography</p>
						<ul class="text-paragraph-default">
							<li>
								<p><a href="#typography">Typescale (Defaults and utility)</a></p>
							</li>
						</ul>
					</li>
					
					<li>
						<p>Spacing</p>
						<ul class="text-paragraph-default">
							<li>
								<p><a href="spacing.html">Utility Margin & Padding</a></p>
							</li>
							<li>
								<p>Padding Inset Options <a href="button.html">See Buttons</a></p>
							</li>
						</ul>
					</li>
				</ul>
		</div>
	</div>

	<!-- MAIN BODY CONTENT -->
	<div class="content">
		<div id="color" class="containerbox">
			<div class="flex flex-row justify-content-space-around">
				<h4>Default Colors</h4>
			</div>
	
			<div class="flex flex-row justify-content-space-around">
				<div class="flex flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-main-green">
						<p>$main-green<br>
							#009688</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-green-light">
						<p>$main-green-light<br>
							#80CBC4</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-green-dark">
						<p class="text-light">$main-green-dark<br>
							#004B44</p>
					</div>
				</div>
				<div class="flex flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-main-purple">
						<p>$main-purple<br>
							#7B1FA2</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-purple-light">
						<p>$main-purple-light<br>
							#BD8FD1</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-purple-dark">
						<p class="text-light">$main-purple-dark<br>
							#3E1051</p>
					</div>
				</div>
				<div class="flex flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-main-blue">
						<p>$main-blue<br>
							#0288D1</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-blue-light">
						<p>$main-blue-light<br>
							#81C4E8</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-blue-dark">
						<p class="text-light">$main-blue-dark<br>
							#014469</p>
					</div>
				</div>
				
				<div class="flex flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-main-pink">
						<p>$main-pink<br>
							#E91E63</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-pink-light">
						<p>$main-pink-light<br>
							#F48FB1</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-pink-dark">
						<p class="text-light">$main-pink-dark<br>
							#750F32</p>
					</div>
				</div>
				
				<div class="flex flex-column">
					<div class="color-box u-mb-medium u-background-color-main-yellow">
						<p>$main-yellow<br>
							#FFC107</p></div>
					<div class="color-box u-mb-medium u-background-color-main-yellow-light">
						<p>$main-yellow-light<br>
							#FFE083</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-main-yellow-dark">
						<p class="text-light">$main-yellow-dark<br>
							#806104</p>
					</div>
				</div>
			</div>

			<div class="flex flex-row justify-content-space-around">
				<h4>Secondary Colors</h4>
			</div>

			<div class="flex flex-row justify-content-space-around">
				<div class="flex flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-secondary-green">
						<p>$secondary-green<br>
							 #9BD4CE</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-green-light">
						<p>$secondary-green-light<br>
							#CDEAE7</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-green-dark">
						<p class="text-light">$main-secondary-dark<br>
							#4E6A67</p>
					</div>
				</div>
				<div class="flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-secondary-purple">
						<p>$secondary-purple<br>
							#C9A4D8</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-purple-light">
						<p>$secondary-purple-light<br>
							#E4D2EC</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-purple-dark">
						<p class="text-light">$secondary-purple-dark<br>
							#65526C</p>
					</div>
				</div>
				<div class="flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-secondary-blue">
						<p>$secondary-blue<br>
							#9BCEED</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-blue-light">
						<p>$secondary-blue-light<br>
							#CDE7F6</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-blue-dark">
						<p class="text-light">$secondary-blue-dark<br>
							#4E6777</p>
					</div>
				</div>
				<div class="flex-column u-mr-medium">
					<div class="color-box u-mb-medium u-background-color-secondary-pink">
						<p>$secondary-pink<br>
							#F5A5C0</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-pink-light">
						<p>$secondary-pink-light<br>
							#FAD2E0</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-pink-dark">
						<p class="text-light">$secondary-pink-dark<br>
							#7B5360</p>
					</div>
				</div>
				<div class="flex-column">
					<div class="color-box u-mb-medium u-background-color-secondary-yellow">
						<p>$secondary-yellow<br>
							#FFE79D</p></div>
					<div class="color-box u-mb-medium u-background-color-secondary-yellow-light">
						<p>$secondary-yellow-light<br>
							#FFF3CE</p>
					</div>
					<div class="color-box u-mb-medium u-background-color-secondary-yellow-dark">
						<p class="text-light">$secondary-yellow-dark<br>
							#80744F</p>
					</div>
				</div>
			</div>

      		<div class="flex flex-row justify-content-space-around">
				<h4>Color Utility Classes Available</h4>
			</div>
				<div class="flex flex-column">
					<p>.u-background-color-[main/secondary]-[color]
					<br><strong>Example:</strong> .u-background-color-main-green</p>
					<br>
					<p>.u-text-color-[main/secondary]-[color]
					<br><strong>Example:</strong>.u-text-color-main-green-light
					</p>
					<br>
					<p>.u-border-color-[main/secondary]-[color]
					<br><strong>Example:</strong>.u-border-color-main-green-dark
					</p>
					<br>
				</div>
			
		</div>

		<div id="typography" class="containerbox">
			<div class="flex flex-row justify-content-space-around">
				<h4>Typescale</h4>
			</div>
			<div class="flex flex-column justify-content-space-around">
				<h4>Typography</h4>
				<h1>Hello, world! I'm an H1.</h1>
				<h1 class="u-m-0">Hello, world! I'm an H1 with utility margin-bottom zero.</h1>
				<small>H1 font-family:source-code-pro; font-size: 3x-large</small>

				<h2>Hello, world! I'm an H2.</h2>
				<small>H2 font-family:source-code-pro; font-size: 2x-large</small>
				<h3>Hello, world! I'm an H3.</h3>
				<small>H3 font-family:source-code-pro; font-size: x-large</small>
				<h4>Hello, world! I'm an H4.</h4>
				<small>H4 font-family:share-tech-mono; font-size: large</small>
				<p>Hello, world! I'm an P.</p>
				<small>H1 font-family:open sans; font-size: medium</small>
				<h5>Hello, world! I'm an H5.</h5>
				<small>H5 font-family:open sans; font-size: </small>
				<h6>Hello, world! I'm an H6.</h6>
				<small>H6 font-family:open sans; font-size: </small>
			</div>

			<div class="flex flex-row justify-content-space-around">
				<h4>Typography Utility Classes Available</h4>
			</div>
    	</div>

		<div id="spacing" class="containerbox">
			<div class="flex flex-row justify-content-space-around">
				<h4>Spacing Utility Classes Available</h4>
			</div>
			<div class="flex flex-row justify-content-space-around">
				<div class="flex flex-column">
					<p>Margin and Padding are based on multiples of 4 </p>
					<p> m or p = all sides,
						<br>mb or pb = bottom only,
						<br>mt or pt = top only,
						<br>ml or pl = left only, 
						<br>mr or pr = right only
						<br>mx or px = x axis (left and right sides)
						<br>my or py = y axis (top and bottom)
					</p>
					<br>
					<p><strong>Margin Utility Classes</strong> = .u-[ m | mb | mt | mx | my ]-[ spacing value ranges from 3x-small to 8x-large ]  
					<br><br><strong>Example:</strong> .u-m-3x-small or .u-mb-8x-large</p>
					<br>
					<p><strong>Padding Utility Classes</strong> = .u-[ p | pb | pt | px | py ]-[ spacing value ranges from 3x-small to 8x-large ]  
					<br><br><strong>Example:</strong> .u-p-medium or .u-px-3x-large</p>
					<br>
				</div>
			</div>
			<div class="flex flex-row justify-content-space-around">
				<!-- Margin all sides -->
				<div class="flex flex-column box-sizing-reset">
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-0"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-3x-small"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-2x-small"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-x-small"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-small"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-medium"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-x-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-2x-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-3x-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-4x-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-5x-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-6x-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-7x-large"></div>
					</div>
					<div class="spacing-box-container m-color">
						<div class="spacing-box--hasBorder u-m-8x-large"></div>
					</div>
				</div>
				<!-- Padding all sides -->
				<div class="flex flex-column box-sizing-reset">
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-0 p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-3x-small p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-2x-small p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-x-small p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-small p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-medium p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-2x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-3x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-4x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-5x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-6x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-7x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
					<div class="spacing-box-container">
						<div class="spacing-box--hasBorder u-p-8x-large p-color">
						<div class="spacing-box">
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>