---
layout: layouts/default.njk
title: Mystery Code Society Design Guide
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 0
---

<section id="font">
  <h1>H1 Tag</h1>
</section>


<section id="new-design">
</section>
