---
layout: layouts/default.njk
title: Mystery Code Society
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 0
---

<section id="hero">
  Hero
</section>

<section id="intros">
  Intros
</section>

<section id="project-showcase">
  Project showcase
</section>

<section id="about-us">
  About us
</section>
