---
layout: layouts/default.njk
title: Mystery Code Society
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: Mystery Code Society
  order: 0
---

<section id="hero">
  Hero
</section>

<section id="intros">
  <div class="flex flex-row justify-content-space-around">
    <div class="card">
      <div class="card__icon">
        <div class="image-container">
          <img src="/assets/images/icon/lightbulb-on.svg">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Card 1</h3>
        </div>
        <div class="card__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.</p>
        </div>

        <div class="card__button">
          <button class="button button-light">View Courses</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__icon">
        <div class="image-container">
          <img src="/assets/images/icon/people-2.svg">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Card 1</h3>
        </div>
        <div class="card__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.</p>
        </div>

        <div class="card__button">
          <button class="button button-light">View Courses</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__icon">
        <div class="image-container">
            <img src="/assets/images/icon/heart-outline.svg">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Card 1</h3>
        </div>
        <div class="card__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.</p>
        </div>

        <div class="card__button">
          <button class="button button-light">View Courses</button>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="project-showcase">
  Project showcase
</section>

<section id="about-us">
  About us
</section>
