---
layout: layouts/default.njk
title: Mystery Code Society Design Guide
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 0
---

<section id="font">
  <h1>H1 Tag</h1>
</section>


<section id="new-design">
</section>

<section id="spacing-exapmles">
  <div class="flexrow">
    <!-- Margin all sides -->
    <div class="flexcolumn">
      <div class="container m-color">
        <div class="box--hasBorder u-m-0"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-3x-small"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-2x-small"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-x-small"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-small"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-medium"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-x-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-2x-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-3x-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-4x-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-5x-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-6x-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-7x-large"></div>
      </div>
      <div class="container m-color">
        <div class="box--hasBorder u-m-8x-large"></div>
      </div>
    </div>
      <!-- Padding all sides -->
    <div class="flexcolumn">
      <div class="container">
        <div class="box--hasBorder u-p-0 p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-3x-small p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-2x-small p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-x-small p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-small p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-medium p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-2x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-3x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-4x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-5x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-6x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-7x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
      <div class="container">
        <div class="box--hasBorder u-p-8x-large p-color">
          <div class="box">	
          </div>	
        </div>
      </div>
    </div>
  </div>
<section>