---
layout: layouts/default.njk
title: Mystery Code Society
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 0
---

<section id="hero">
  Hero
  <div class="card">
    <div class="card__icon">
      <div class="image-container">
          <!-- svg or img goes here -->
      </div>
    </div>
    <div class="card__copy">
      <div class="card__title">
        <h3>Learn with us</h3>
      </div>
      <div class="card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.</p>
      </div>
      
      <div class="card__button">
        <div class="button">View Courses</div>
      </div>
    </div>
  </div>

</section>

<section id="intros">
  Intros
</section>

<section id="project-showcase">
  Project showcase
</section>

<section id="about-us">
  About us
</section>
