---
layout: layouts/default.njk
title: Mystery Code Society
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 0
---

<section id="hero">
  <div class="hero-main u-lg-p-large u-p-6x-large">
    <div class="container u-py-3x-large">
      <div class="flex flex-column lg-flex-row justify-content-space-around">
        <div id="mission" class="u-lg-pr-4x-large u-lg-pt-6x-large u-pb-3x-large">
          <h1 class="u-pb-medium">Our Mission</h1>
          <h3>
            Mystery Code Society offers free, beginner to intermediate coding education to people of marginalized genders. Educational offerings include classes, workshops, meetups, and other educational events. Our focus is on students in 5th-12th grades, but may include programs for people of marginalized genders of all ages.
          </h3>
        </div>
        <div id="upcoming" class="flex flex-column justify-content-center u-pt-6x-large u-lg-pt-0">
          <h4 class="justify-left u-pb-6x-large u-lg-pb-large">Upcoming & Current Courses</h4>
            {% include components/class.liquid %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intros">
  <div class="flex flex-column lg-flex-row justify-content-center u-py-7x-large">
    <div class="card constrained">
      <div class="card__icon">
        <div class="image-container">
          <img src="/assets/images/icon/light-bulb.png" alt="outline of lightbulb">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Learn With Us</h3>
        </div>
        <div class="card__description">
          <p>
            Our programming is centered around tech classes for students in 5th-12th grade. Our classes are focused on specific tech topics, such as web development, introduction to programming, database design, and game development.
          </p>
        </div>

        <div class="card__button">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScB9HXnrUzYLOnQFDS9-AuS4IFY4snWT9W_4qJUWkq9YKn0Cw/viewform" target="_blank" class="button button-light button--small">Sign up</a>
        </div>
      </div>
    </div>
    <div class="card constrained">
      <div class="card__icon">
        <div class="image-container">
          <img src="/assets/images/icon/volunteer.png" alt="outline of people">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Volunteer With Us</h3>
        </div>
        <div class="card__description">
          <p>
            We could not put on the quality programming that Mystery Code Society offers without our volunteers. Our board is a working board of hands-on volunteers and we’re supported by advisory board members and various volunteers. Come join us!
          </p>
        </div>

        <div class="card__button">

          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfiXbaRGe5WPswOJRKtn3ZshgzTu4TrTPkp-cEBITJJnRH56A/viewform" target="_blank" class="button button-light button--small">Volunteer</a>
        </div>
      </div>
    </div>
    <div class="card constrained">
      <div class="card__icon">
        <div class="image-container">
            <img src="/assets/images/icon/heart.png" alt="outline of heart">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Support Us</h3>
        </div>
        <div class="card__description">
          <p>
            Your contributions help us achieve our mission to champion gender equity in tech! We don’t charge our students any kind of tuition, so it is only through your support that we’re able to continue with our vision.
          </p>
        </div>

        <div class="card__button">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="display:inline-block;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4MFTJQZ34UFZE">
            <button class="button button--small button-white u-space-stack-medium" name="submit">Donate</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="project-showcase">
      <div class="u-py-3x-large">

            {% include components/showcase.njk %}

      </div>
</section>

<section id="about-us">
  <div class="u-background-gradient-blue-green u-text-color-white u-py-4x-large u-sm-p-7x-large">
    <div class="container flex flex-column align-items lg-flex-row">
      <div class="width-100 lg-width-50 u-lg-p-6x-large u-py-6x-large">
        <h2 class="u-mb-medium">
          About Us
        </h2>
        <p class="u-mb-2x-large">
          Accessibility is one of our core values.  We do not charge our students any kind of tuition!  We accomplish so much on a small budget derived solely from generous donations. We need your support to make our coding education accessible to our students.
        </p>
        <p class="u-mb-2x-large">
          Please contact us at <a href="mailto:hello@mysterycodesociety.com">hello@mysterycodesociety.com</a> about sponsorship opportunities:  Graduation Sponsor, Location Sponsor, Pizza Sponsor and Snack Sponsor.
        </p>
        <p class="u-mb-2x-large">
          Please donate today!
        </p>
        <a href="assets/sponsorship_packet.pdf" class="button button-white button--green button--small" target="_blank" download>Learn More</a>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="display:inline-block;">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4MFTJQZ34UFZE">
          <button class="button button--small button--green button-white u-space-inline-medium u-space-stack-medium" name="submit">Donate</button>
        </form>
      </div>
      <div class="width-100 lg-width-50">
        <div class="image-container">
          <img src="assets/images/board-members.jpg" alt="board members at graduation having fun">
        </div>
      </div>
    </div>
  </div>
</section>
