---
layout: layouts/default.njk
title: Mystery Code Society
date: 2021-07-21T00:00:00.000Z
permalink: /index.html
eleventyNavigation:
  key: Home
  order: 0
---

<section id="hero">
  <div class="hero-main u-lg-p-large u-p-6x-large">
    <div class="container u-py-3x-large">
      <div class="flex flex-column lg-flex-row justify-content-space-around">
        <div id="mission" class="u-lg-pr-4x-large u-lg-pt-6x-large u-pb-3x-large">
          <h1 class="u-pb-medium">Our Mission</h1>
          <h3>
            Mystery Code Society offers free, beginner to intermediate coding education to people of marginalized genders. Educational offerings include classes, workshops, meetups, and other educational events. Our focus is on students in 5th-12th grades but may include programs for people of marginalized genders of all ages.
          </h3>
        </div>
        <div id="upcoming" class="flex flex-column justify-content-center u-pt-6x-large u-lg-pt-0">
          <h4 class="justify-left u-pb-6x-large u-lg-pb-large">Upcoming & Current Courses</h4>
            {% include components/class.liquid %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intros">
  <div class="flex flex-column lg-flex-row justify-content-space-around">
    <div class="card">
      <div class="card__icon">
        <div class="image-container">
          <img src="/assets/images/icon/lightbulb-on.svg" alt="outline of lightbulb">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Card 1</h3>
        </div>
        <div class="card__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.</p>
        </div>

        <div class="card__button">
          <button class="button button-light">View Courses</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__icon">
        <div class="image-container">
          <img src="/assets/images/icon/people-2.svg" alt="outline of people">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Card 1</h3>
        </div>
        <div class="card__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.</p>
        </div>

        <div class="card__button">
          <button class="button button-light">View Courses</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__icon">
        <div class="image-container">
            <img src="/assets/images/icon/heart-outline.svg" alt="outline of heart">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Card 1</h3>
        </div>
        <div class="card__description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.</p>
        </div>

        <div class="card__button">
          <button class="button button-light">View Courses</button>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="project-showcase">
      <div class="u-py-3x-large">

            {% include components/showcase.njk %}

      </div>
</section>

<section id="about-us">
  <div class="u-background-gradient-blue-green u-my-4x-large">
    <div class="container flex flex-column align-items lg-flex-row">
      <div class="width-100 lg-width-50 u-space-inset-x-large u-lg-space-inline-x-large u-py-6x-large">
        <h2 class="u-text-color-white u-mb-medium">
          About Us
        </h2>
        <p class="u-text-color-white u-mb-2x-large">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ipsum est, mollis pretium tortor sit amet, euismod fringilla tortor. Cras dapibus felis venenatis augue consectetur, at placerat odio dapibus. Nunc sodales velit quis purus suscipit elementum.
        </p>
        <!-- TODO: Create a white button background with green text -->
        <button class="button button-white">View our Board</button>
      </div>
      <div class="width-100 lg-width-50">
        <div class="image-container">
          <img src="https://picsum.photos/500/300" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
