---
layout: layouts/default.njk
title: Mystery Code Society
date: 2021-07-21T00:00:00.000Z
permalink: /support.html
eleventyNavigation:
  key: Support
  order: 1
---

<section id="support_hero" class="u-background-gradient-orange-pink u-text-color-white">
  <div class="u-lg-p-large u-p-6x-large">
    <div class="container u-py-3x-large">
      <div class="flex flex-column lg-flex-row justify-content-space-around">
        <div id="mission" class="u-lg-pr-4x-large u-lg-pt-6x-large u-pb-3x-large">
          <h1 class="u-pb-medium">Get Involved With Us!</h1>
          <h3>
            Your contributions help us achieve our mission to champion gender equity in tech! We don’t charge our students any kind of tuition, so it is only through your support that we’re able to continue with our vision.
          </h3>
        </div>
        <div id="upcoming" class="flex flex-column justify-content-center u-pt-6x-large u-lg-pt-0">

          <div class="card card-border-button constrained">
            <div class="card__copy">
              <div class="card__title">
                <h2 class="card__headline u-text-color-main-pink">Sponsors</h2>
              </div>
              <div class="card__description">
                <p>View our sponsors who help make our mission possible!</p>
              </div>

              <div class="card__button">
                <a href="#sponsors" class="button button-secondary button--pink button--small">View Sponsors</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="support_us">
<section id="intros">
  <div class="flex flex-column lg-flex-row justify-content-center u-py-7x-large">
    <div class="card constrained">
      <div class="card__icon">
        <div class="image-container">
          <img src="/assets/images/icon/heart.png" alt="outline of heart">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Donate</h3>
        </div>
        <div class="card__description">
          <p>
            Your contributions help us
            achieve our mission to
            champion gender equity in
            tech! We don’t charge our
            students any kind of tuition, so
            it is only through your support
            that we’re able to continue with
            our vision.
          </p>
        </div>

        <div class="card__button">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="display:inline-block;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="4MFTJQZ34UFZE">
            <button class="button button--small button-light u-space-stack-medium" name="submit">Donate Now</button>
          </form>
        </div>
      </div>
    </div>
    <div class="card constrained">
      <div class="card__icon">
        <div class="image-container">
          <img class="wide" src="/assets/images/sponsors/tagg_store.png" alt="tagg icon">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Support Us on TAGG</h3>
        </div>
        <div class="card__description">
          <p>
            Upload receipts of purchases from participating businesses to support us!
          </p>
        </div>

        <div class="card__button">
          <a href="https://apps.apple.com/us/app/together-a-greater-good-tagg/id900641585" target="_blank" class="button button-light button--small">Support Us</a>
        </div>
      </div>
    </div>
    <div class="card constrained">
      <div class="card__icon">
        <div class="image-container">
            <img src="/assets/images/icon/volunteer.png" alt="outline hands">
        </div>
      </div>
      <div class="card__copy">
        <div class="card__title">
          <h3>Sponsor Us</h3>
        </div>
        <div class="card__description">
          <p>
            Multiple Corporate and Individual Sponsorship options are available. Will you be a:
          </p>
            <ul>
              <li>Full Course Sponsor</li>
              <li>Teacher Sponsor</li>
              <li>Teaching Assistant Sponsor</li>
              <li>Technology Sponsor</li>
              <li>Student Sponsor</li>
              <li>Snack Sponsor</li>
            </ul>
        </div>

        <div class="card__button">
          <a href="assets/sponsorship_packet.pdf" target="_blank" class="button button-light button--small" download>View Sponsorship Levels</a>
        </div>
      </div>
    </div>
  </div>

</section>

</section>

<section id="sponsors">
  <h2 class="u-text-align-center u-text-color-main-pink">We <img src="/assets/images/icon/heart.png" alt="outline of heart" style="width:30px;">
  Our Sponsors</h2>
  <div class="container u-py-7x-large u-px-large">
    <div class="sponsor-section flex flex-row justify-content-space-around">

      <div class="sponsor-card-container whole-row">
        <h4 class="sponsor-label">Teacher Sponsor</h4>
        <div class="sponsor-card u-border-color-main-purple">
          <div class="sponsor">
            <div class="img-frame">
              <img src="assets/images/sponsors/ntc_logo.png" alt="Nebraska Tech Collaborative, a teacher sponsor for Mystery Code Society"/>
            </div>
            <h3>Nebraska Tech Collaborative</h3>
          </div>
        </div>
      </div>

      <div class="sponsor-card-container whole-row">
        <h4 class="sponsor-label">Location Sponsor</h4>
        <div class="sponsor-card u-border-color-main-green">
          <div class="sponsor">
            <div class="img-frame">
              <img src="assets/images/sponsors/dospace.png" alt="Do Space, a location sponsor for Mystery Code Society"/>
            </div>
            <h3>Do Space</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="u-py-4x-large"></div>